/* :root {
  --primary-dark: #1d1d1d;
  --primary-white: rgb(255, 255, 255);
  --button-white: #c9c9c9;
  --button-dark: #555555;
}

.dark-theme {
  --text-color: var(--primary-white);
  --background-color: var(--primary-dark);
  --button-color: var(--button-dark);
}

.light-theme {
  --text-color: var(--primary-dark);
  --background-color: var(--primary-white);
  --button-color: var(--button-white);
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.graphwrapper > canvas {
  /* background-color: blanchedalmond; */
  width: 100% !important;
}

