/* :root {
  --primary-dark: #1d1d1d;
  --primary-white: rgb(255, 255, 255);
  --button-white: #c9c9c9;
  --button-dark: #555555;
}

.dark-theme {
  --text-color: var(--primary-white);
  --background-color: var(--primary-dark);
  --button-color: var(--button-dark);
}

.light-theme {
  --text-color: var(--primary-dark);
  --background-color: var(--primary-white);
  --button-color: var(--button-white);
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.App {
  text-align: center;
  height: 100vh;
  /* background-color: #282c34; */
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.flexNfifty > div {
  flex-basis: 50%;
}
@media screen and (max-width: 728px) {
  .flexNfifty > div {
    flex-basis: 100%;
  }
  .SumCard {
    border-right: 0px;
  }
}

@media screen and (max-width: 954px) {
  .outer-container {
    margin: 0px 12px;
  }

  .tabelPadding {
    padding: 0px 20px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
