@media only screen and (max-width: 908px) {
  .priceOrders {
    display: none;
  }
}

@media screen and (max-width: 785px) {
  .orderStatus .order-statusOrders {
    display: none;
  }
}
@media screen and (max-width: 534px) {
  .DateOrders {
    display: none;
  }
}

@media screen and (max-width: 448px) {
  .payment-statusOrders {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .customerOrders  {
    display: none;
  }
}
